<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/socket.io/socket.io.js">

    </script>

  </head>
  <body>
    <h1><%= title %></h1>
    <h1><%= num %></h1>
    <p>Welcome to <%= title %></p>
    <div class="list">

    </div>
    <div class="list2">

    </div>
    <input type="text" onchange="say2(event)" name="" value="">
    <input type="text" onchange="say(event)" name="" value="">
    <script type="text/javascript">
    const socket = io.connect();
    const listdom = document.querySelector(".list");
    const list2dom = document.querySelector(".list");

    function say2(event){
      socket.emit('req',event.target.value,function(res){
        console.log('有了响应');
        // console.log(res);

        const h2dom = document.createElement("h3");
        h2dom.innerText = '标题:'+res;
        list2dom.appendChild(h2dom);
      });
    }

    socket.on('newsay',word=>{
      const pdom = document.createElement("p");
      pdom.innerText = word;
      listdom.appendChild(pdom);
    });
    function say(event){
      socket.emit("say",event.target.value);
    }
    </script>
  </body>
</html>
